.ui.grid {
	margin: 30px 0 0 0px !important;
}

.content {
}

.container-editBox {
	position: absolute;
	top: 60px;
	right: 30px;
}

.slide {
	text-align: center;
	padding: 10px;
	overflow: scroll;
	max-height: 100%;
}

.hideHeading {
	display: none;
}

.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
	font-weight: 300;
	font-size: 14px;
}

.ui.card {
	font-family: "Quicksand", sans-serif !important;
}

.red:hover {
	color: red;
}
