.ui.grid {
	margin: 10px 0 0 0px !important;
}

.container {
}

.stats {
	margin-top: 60px;
	margin-left: 35px;
	width: 21% !important;
	color: white;
	text-align: center;
	font-size: 15px;
}

.title {
	text-align: center;
	width: 43% !important;
	color: white;
	margin-left: 65px;
}

.synopsis {
	overflow: auto;
	max-height: 315px;
	color: white !important;
}

.synopsis-title {
	color: #ff1d8e !important;
	margin-bottom: 10px;
}

.synopsis-col {
	margin: 60px 0px 0px 0px;
	width: 28% !important;
}

.mt-180 {
	margin-top: 180px;
}

.ui.embed {
	background: none;
}

.button-container {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	align-items: center;
	margin-top: 25%;
	cursor: pointer;
}

.button-container-view {
	text-align: center;
}

.discovery-title {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	align-items: center;
	margin-top: 30%;
	cursor: pointer;
}

.anime-view {
	position: relative;
}

.hot-p {
	color: #ff1d8e;
}

.hotp-back:hover {
	background-color: #ff1d8e !important;
	color: white !important;
}

.ui.button.hotp-back {
	font-size: 0.9rem !important;
}

.ui.grid.random-bar {
	margin: 10px 0px 0px 115px !important;
}

.ui.card.m-50 {
	cursor: pointer;
}

.anime-view {
	width: auto;
	height: auto;
	padding: 10px !important;
	background: url("https://www.wallpaperflare.com/static/462/400/926/anime-landscape-stars-sky-wallpaper.jpg")
		no-repeat;
	background-size: cover;
	width: 101vw;
	position: relative;
	left: calc(-50vw + 48%);
}

.hideDice {
	display: none !important;
}

.reduced-dice {
	width: 60px;
	cursor: pointer !important;
}
