.ui.grid {
	margin: auto !important;
}

.container {
}

.stats {
	margin-top: 40px;
	margin-left: 15px;
	width: 21% !important;
}

.title {
	text-align: center;
	width: 40% !important;
}

.synopsis {
	margin-top: 40px;
	margin-left: 45px;
	overflow: auto;
	max-height: 345px;
}

.button-container {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	align-items: center;
	margin-top: 25%;
}

.button-container-view {
	text-align: center;
	padding: 10px;
}

.anime-view {
	background-color: whitesmoke;
	width: auto;
	height: auto;
	padding: 20px !important;
}
.hideButton {
	display: none !important;
}
